# ─── SECRETS — JANGAN PERNAH DI-COMMIT ───────────────────────
.env
*.env
.env.*
!.env.example

# Database
data/
*.db
*.sqlite
*.sqlite3
logs/

# Upload user
static/uploads/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
env/

# OS
.DS_Store
Thumbs.db
gunicorn.ctl
